@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  .nav-item {
    @apply rounded-full px-4 py-1.5 text-sm font-semibold text-white/70 transition-all duration-300 ease-in-out hover:bg-white/10 hover:text-white;
  }

  .hero-ring {
    @apply absolute inset-0 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-2 border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-6xl;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Ensure to apply the no-scrollbar class */
html,
body {
  @apply no-scrollbar; /* This will hide the scrollbar */
}
